/* ------- Primary Colors ------ */
$gray-primary: #494949;
$light-blue-primary: #2c89c8;
$blue-primary: #6aabd6;
$new-blue-primary: #9dc9e5;

/* ------- Secondary Colors ------ */
$orange: #f8a678;
$blue: #69cef5;
$ligh-blue: #7bf2f7;
$darker-blue: #558ca3;
$yellow: #ffe67b;
$green: #89cca6;
$light-green: #54ce8a;
$darker-green: #658c78;
$purple: #9099cc;
$pink: #f6b1cf;
$light-pink: #f8bbd0;
$brown: #c89780;
$light-orange: #fcd0b7;
$red-heart: #e84c9a;
$red: #ff7e67;
$red-error: #f44336;

/* ------- Others Colors ------ */
$middle-black: #393939;
$darker-gray: #575757;
$middle-gray: #8d8c8c;
$gray: #dedede;
$light-gray: #d8d8d8;
$black: #0e0e0f;
$white: #ffffff;

/* ------- Fonts ------ */
$Montserrat: 'Montserrat';
